--extra-index-url https://download.pytorch.org/whl/cpu

torch
torchvision
torchaudio
fastapi
uvicorn[standard]
python-multipart
gradio
Pillow
open-clip-torch
requests
google-generativeai
openai
python-dotenv